/* Отрисовка иконки "Крестик в круге" */

.circle {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4290C9;
    margin-right: 12px;
}
.circle::before,
.circle::after {
    content: '';
    position: absolute;
    background-color: #4290C9;
    border-radius: 1px;
}
.circle::before {
    width: 10px;
    height: 2px;
    top: 7px;
    left: 3px;
}
.circle::after {
    width: 2px;
    height: 10px;
    top: 3px;
    left: 7px;
}
