@import url("crossicon.css");

@font-face {
    font-family: "RobotoRegular";
    src: local("Roboto"), url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    font-family: "RobotoRegular", sans-serif;
}

.wrapper,
.plainWrap {
    display: flex;
    justify-content: center;
}

.wrapper {
    background: #F4F4F4;
}

.wrapMainBlock {
    display: flex;
    overflow: hidden;
}

.wrapAdBlock {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    background: coral;
    margin: 0 -15px;
}

.wrapAdBox {
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    margin: 0 15px 30px 15px;
}

.adBoxTop {
    width: 270px;

}

.adBoxLow {
    align-self: stretch;
    background: cornsilk;
}

.showMore {
    background-color: #E5E5E5;
    align-items: center;
    Border: none;
    height: 80px;
    margin: -11px 15px 0 15px;
    font-size: 18px;
    color: #4290C9;
    width: 100%;
}
.showMore:hover {
    background-color: #d2d2d2;
}

.iconPos {
    vertical-align: middle;
}

.wrapSidePanel {
    background-color: darkred;
    height: 80px;
    width: 270px;
    margin-left: 30px;
    order: 1;
}
