@font-face {
    font-family: "RobotoRegular";
    src: local("Roboto"), url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
body {
    background-color:  #F4F4F4;
    font-family: "RobotoRegular", sans-serif;
}
.groupAll {
    margin: 60px 0 0 215px;
    display: flex;
}
.advBlock {
    flex-basis: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    background-color: coral;
}
.advBox {
    height: 334px;
    width: 270px;
    background: #FFFFFF url("../assets/images/img.jpg") no-repeat top center;
    margin: 0 30px 30px 0;
}
button.showMoreAd {
    background-color: #E5E5E5;
    align-items: center;
    Border: none;
    height: 80px;
    margin: -11px 30px 0 0;
    font-size: 18px;
    color: #4290C9;
    width: 100%;
}
button.showMoreAd:hover {
    background-color: #d2d2d2;
}
.sidePanel {
    background-color: darkred;
    height: 80px;
    width: 270px;
    margin-left: fill;
    order: 1;
}
.plusCircleImg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
